@model IEnumerable<WorkHub.Models.TaskCompletionRequest>

@{
    ViewBag.Title = "My Requests";
    Layout = "~/Views/Manager/ManagerIndex.cshtml";
}

<div class="card h-100 d-flex flex-column">
    <div class="card-datatable table-responsive flex-grow-1">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header d-flex justify-content-between align-items-md-center align-items-center py-0 flex-wrap flex-md-row flex-column m-4">
                <div class="me-5 ms-n4">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter mb-0 mb-md-6">
                        <label>
                            <input type="search" class="form-control" placeholder="Search Request" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                </div>
                <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-start align-items-sm-center justify-content-md-end pt-0 gap-sm-4 gap-6 flex-wrap flex-sm-row flex-column mb-6 mb-sm-0">
                    @*<div class="dataTables_length ms-n2 me-n2 mb-0 mb-sm-6" id="DataTables_Table_0_length">
                            <label>
                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                        <div class="review_filter">
                            <select id="Review" class="form-select">
                                <option value=""> All </option>
                                <option value="Pending" class="text-capitalize">Pending</option>
                                <option value="Published" class="text-capitalize">Published</option>
                            </select>
                        </div>
                        <div class="mx-0 me-md-n3 mt-sm-0">
                            <div class="dt-buttons btn-group flex-wrap">
                                <div class="btn-group">
                                    <button class="btn btn-secondary buttons-collection dropdown-toggle btn-label-secondary me-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
                                        <span><i class="bx bx-export bx-sm me-2"></i>Export</span>
                                    </button>
                                </div>
                            </div>
                        </div>*@
                    <!--<div>
                        <form action="@Url.Action("TaskFilter", "Task")" method="get">-->
                    <!-- Hidden input for func -->
                    <!--<input type="hidden" name="func" value="3" />

                            <button type="submit" class="btn btn-primary">
                                Approve
                            </button>
                        </form>
                    </div>
                    <div>
                        <form action="@Url.Action("TaskFilter", "Task")" method="get">-->
                    <!-- Hidden input for func -->
                    <!--<input type="hidden" name="func" value="3" />

                            <button type="submit" class="btn btn-primary">
                                Decline
                            </button>
                        </form>
                    </div>-->
                </div>

            </div>
            <table class="datatables-review table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr>
                        <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="display: none;" aria-label=""></th>
                        @*<th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" data-col="1" aria-label="">
                                <input type="checkbox" id="select-all-checkbox" class="dt-checkboxes form-check-input">
                            </th>*@
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Product: activate to sort column descending" aria-sort="ascending">Tasks</th>
                        <th class="text-nowrap sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Reviewer: activate to sort column ascending">Developer</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Review">Comment</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date</th>
                        <th class="text-nowrap sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string taskTitle = ViewBag.TaskNames[item.TaskId].TaskTitle;
                        string taskDescription = ViewBag.TaskNames[item.TaskId].Description;
                        string developerName = ViewBag.TeamMemberNames[item.DeveloperId].Username;
                        <tr class="odd">
                            <td class="control" style="display: none;" tabindex="0"></td>
                            @*<td class="dt-checkboxes-cell">
                                    <input type="checkbox" class="dt-checkboxes form-check-input">
                                </td>*@
                            <td class="sorting_1">
                                <div class="d-flex justify-content-start align-items-center customer-name">
                                    @*<div class="avatar-wrapper">
                                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                                <img src="../../assets/img/ecommerce-images/product-9.png" alt="Product-9" class="rounded">
                                            </div>
                                        </div>*@
                                    <div class="d-flex flex-column">
                                        <a class="fw-bold fs-5 text-nowrap text-heading text-black" href="@Url.Action("TaskDetails", "Task", new {id = @item.TaskId})">@taskTitle</a>
                                        <small class="text-break pe-3">@taskDescription</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start align-items-center customer-name">
                                    @*<div class="avatar-wrapper">
                                            <div class="avatar avatar-sm me-4">
                                                <img src="../../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                                            </div>
                                        </div>*@
                                    <div class="d-flex flex-column">
                                        <a href="#"><span class="fw-medium">@developerName</span></a>
                                        <small class="text-nowrap">gleppard8@yandex.ru</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    @*<div class="read-only-ratings ps-0 mb-1 jq-ry-container" style="width: 132px;" readonly="readonly">
                                            <div class="jq-ry-group-wrapper">
                                                <div class="jq-ry-normal-group jq-ry-group">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 22 22" fill="gray">
                                                        <path d="M20.1188"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*<p class="h6 mb-1 text-truncate">Accumsan tellus nisi eu</p>*@
                                    <small class="text-break pe-3">@item.Comment</small>
                                </div>
                            </td>
                            <td>
                                <span class="text-nowrap">@item.RequestDate</span>
                            </td>
                            <td>
                                @*<span class="badge bg-label-warning text-capitalize">Pending</span>*@
                                @if (item.Status == "Approved")
                                {
                                    <span class="badge bg-label-success me-1">@item.Status</span>
                                }
                                else if (item.Status == "Declined")
                                {
                                    <span class="badge bg-label-danger me-1">@item.Status</span>
                                }
                                else if (item.Status == "Pending")
                                {
                                    <span class="badge bg-label-info me-1">@item.Status</span>
                                }
                            </td>
                            <td>
                                <div class="text-xxl-center">
                                    <div class="dropdown">
                                        <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded bx-md"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            @if (item.Status != "Done")
                                            {
                                                <a href="@Url.Action("RequestHandle", "Manager", new {func = 2, taskId =  item.TaskId, requestId = item.RequestId})" class="dropdown-item delete-record text-danger">Delete Request</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
                    <ul class="pagination">
                        <li class="page-item prev">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">1</a>
                        </li>

                        <li class="page-item next">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                        </li>
                    </ul>
                </nav>*@
        </div>
    </div>
</div>

<script>
    document.getElementById('select-all-checkbox').addEventListener('change', function () {
        var checkboxes = document.querySelectorAll('.row-checkbox');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = document.getElementById('select-all-checkbox').checked;
        });
    });
</script>



<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-datatable {
        flex: 1;
        overflow-y: auto;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
    }
</style>